*{
    margin: 0;
    padding: 0;
   
}
html body{
    
    min-height: 100vh;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}
header{
    background-color: purple;
    color: white;
    padding: 15px;
}

main{
    display: flex;
    
    
}
nav{
    width: 350px;
    background-color: blue;
    color: white;
    flex-shrink: 0;
}
nav div{
    margin: 10px;
    font-size: 25px;
}
nav div a{
    text-decoration: none;
    color: white;
}
section{
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content:space-around;

}
section div{
    box-shadow: 2px 4px 16px grey;
    border-radius: 10px;
    padding: 30px;
    background-color: white;
    width: 300px;
}
footer{
    background-color: lightsteelblue;
    padding: 30px;
    display: flex;
    justify-content: center;
    
}